@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  border: none;
}

/* Styling the body */
body {
  background-color: #ffffff;
  color: #253439;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

/* Header and Logo */
.header {
  padding: 10px;
  text-align: center;
  background-color: #253439;
  color: #ffffff;
}

/* Styling the navbar */
.navbar {
  display: flex;
  background-color: #b29e84;
  text-decoration: none;
  text-align: left;
}

/* Styling the navbar a href links */
.navbar a {
  color: #253439;
  padding: 10px 20px;
  text-decoration: none;
  text-align: left;
}

/* Styling the navbar hover over color */
.navbar a:hover {
  background-color: #253439;
  color: #b29e84;
}

/* Styling the h1, h2 and h3 elements */
h1,
h2,
h3 {
  color: #253439;
  padding: 10px;
  text-decoration: none;
  text-align: left;
}

/* Styling p */
p {
  padding: 10px;
  line-height: 1.3rem;
}

/* Style main smaller text */
.smallermain {
  font-size: 80%;
  display: block;
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Styling center text */
#centertext {
  text-align: center;
}

/* Column row container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Main column */
.main {
  flex: 70%;
  background-color: #ffffff;
  padding: 1px;
}

/* Side column */
.side {
  flex: 30%;
  background-color: #ffffff;
  padding: 1px;
}

/* Styling the Contact form */
/* Styling the text area */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Styling the submit button */
input[type=submit] {
  background-color: #b29e84;
  color: #253439;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styling the submit hover over */
input[type=submit]:hover {
  background-color: #253439;
  color: #b29e84;
}

/* Styling contact container */
.contact-container {
  background-color: #dcdcdc;
  max-width: 60vw;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
}

/* history side bar image */
.historyimg {
  background-color: #253439;
  width: 50%;
  padding: 10px;
}

/* footer settings */
.footer {
  color: #253439;
  padding: 10px;
  text-align: center;
  background: #b29e84;
  flex-shrink: 0;
}

/* Hero Image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("castle.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Set fa icon color */
.fa {
  color: #253439;
}

/* Align social-networks centre */
#social-networks {
  text-align: center;
}

/* Set inline for li social-networks */
#social-networks>li {
  display: inline;
}

/* Set font size color social-networks */
#social-networks i {
  font-size: 150%;
  margin: 2rem;
  padding: 2rem;
  color: #253439;
}

/* Set i:hover social-networks */
#social-networks i:hover {
  color: #b29e84;
  background-color: #253439;
  border-radius: 3px;
}

/* Responsive Layout - less than 700px there are two columns in the row that stack on each other */
@media screen and (max-width: 700px) {

  .row,
  .navbar {
    flex-direction: column;
  }
}