body {
    background-color: lightblue;
  }
  .header {
    padding: 10px;
    text-align: center;
    background-color: #253439;
    color: white;
  }
  .navbar {
    display: flex;
    background-color: #b29e84;
  }
  .navbar a {
    color: #253439;
    padding: 10px 20px;
    text-decoration: none;
    text-align: left;
  }
  .navbar a:hover {
    background-color: #253439;
    color: white;
  }