body {
    background-color: lightblue;
  }
  .header {
    padding: 10px;
    text-align: center;
    background-color: #253439;
    color: white;
  }
  .navbar {
    display: flex;
    background-color: #b29e84;
  }
  